:root {
    /* --light-purple: #6F42C1; */
    --dark-purple: #4B0082;
    /* --light-gold: #F7E7A0;
    --medium-gold: #FFD700; */
    --dark-gold: #B8860B;
    /* --secondary: #008080; */
    --light: #ffffff;
}

.puma-theme {
    background-color: var(--dark-purple);
    color: var(--light);
}

.text-gold-dark {   
    color: var(--dark-gold) !important;
}

.bg-gold-dark {
    background-color: var(--dark-gold) !important;
}

.btn-gold-dark {
    color: var(--light) !important;
    background-color: var(--dark-gold) !important;
}

/* Bootstrap Customization */
.form-check-input:checked {
    background-color: var(--dark-gold) !important;
    border-color: var(--dark-gold) !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--dark-gold) !important;
}

.list-group-item.active {
    background-color: var(--dark-gold) !important;
    border-color: var(--dark-gold) !important;
}

.nav-link:hover {
    color: var(--light) !important;
}

.nav-tab:hover {
    transform: scale(.90);
    transition: transform 0.3s ease;
}

.active-link {
  font-weight: bold;
  border-bottom: 2px solid var(--dark-gold) !important;
}

.active-tab {
    font-weight: bold;
}

.active-icon {
    border-bottom: 2px solid #fff !important;
}

.img {
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.cst-height {
    height: calc(100% - 4.5rem);
}

.background-img {
    position: relative;
    background-image: url('/src/assets/img/forum-cover-bg.webp');
    background-size: cover;
    background-position: center;
}

.background-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.footer-links a:hover {
  text-decoration: underline !important;
}

@media (max-width: 992px) {
    .active-link {
        border-bottom: none !important;
    }
}

@media (max-width: 767.98px) {
    .active-link {
        border-bottom: none !important;
    } 

    .dashboard-menu {
        position: fixed;
        right: 100%;
        transition: right 0.5s ease-in-out;
    }
}

@media (max-width: 576px) {
    .the-forum {
        font-size: calc(1rem + .9vw) !important;
    }
}
